body {
  background: url(https://i.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus) #475d62;
  color: white;
}

#saldoShow {
  display: none;
}

#depositoShow {
  display: none;
}

#retiroShow {
  display: none;
}

.mb {
  margin-bottom: 50px;
}